<%# locals: (remaining_invites_count:, invited_users_count:, unused_invites_count:) %>
<p class="ff-text text-slate-600">
  You can send <strong><%= remaining_invites_count %></strong> more invites.
  <%= pluralize(invited_users_count, "user") %> has joined so far.
</p>
