<%# locals: () %>
<div id="feed-form" class="rounded-lg border border-slate-200 bg-white px-6 py-8 shadow-sm space-y-6">
  <div class="ff-alert ff-alert--warning">
    <p>You need to have an active FreeFeed access token before creating a feed.</p>
  </div>

  <div>
    <%= link_to "Add Access Token", new_access_token_path, class: "ff-button ff-button--compact w-full sm:w-auto" %>
    <%= link_to "Cancel", feeds_path, class: "ff-button ff-button--secondary ff-button--compact w-full sm:w-auto ml-0 sm:ml-3 mt-3 sm:mt-0" %>
  </div>
</div>
