<%# locals: (candidates: [], input: nil, selected: nil) %>

<div class="space-y-2"
     data-key="candidates">
  <%= label_tag nil, "How should we fetch posts?", class: "block font-semibold text-heading" %>

  <div class="space-y-2">
    <% candidates.each do |candidate| %>
      <%= render CandidateOptionComponent.new(
            candidate: candidate,
            input: input,
            selected: selected
          ) %>
    <% end %>
  </div>
</div>