<%# locals: (feed:) %>
<%= render ConfirmationModalComponent.new(
  title: "Delete Feed",
  action: "Delete feed",
  url: feed_path(feed),
  method: :delete,
  modal_id: "delete-feed-modal-#{feed.id}"
) do %>
  <%= render AlertComponent.new(variant: :warning) do %>
    <p>This feed will be permanently removed from Feeder, as well as the related reposting history.</p>
    <p>Associated access token will remain untouched.</p>
    <p>All FreeFeed posts will remain published.</p>
    <p>This operation can't be undone.</p>
  <% end %>
<% end %>
