<%= render CardComponent.new(
      class: "flex items-center gap-3",
      role: "status"
    ) do %>
  <div class="flex-shrink-0">
    <%= render SpinnerComponent.new %>
  </div>
  <div class="space-y-1">
    <p class="ff-text ff-text--heavy">Checking this feed...</p>
    <p class="ff-text">This usually takes a few seconds.</p>
  </div>
<% end %>
