<%= render CardComponent.new(
      id: "feed-form",
      class: "flex items-center gap-3",
      role: "status",
      data: {
        controller: "polling",
        polling_endpoint_value: feed_details_path(url: url),
        polling_interval_value: Feed::IDENTIFICATION_POLLING_INTERVAL_MS,
        polling_max_polls_value: FeedDetailsController::IDENTIFICATION_TIMEOUT_SECONDS / 2,
        polling_stop_condition_value: "[data-identification-state='complete'], [data-identification-state='error']"
      }
    ) do %>
  <div class="flex-shrink-0">
    <%= render SpinnerComponent.new %>
  </div>
  <div class="space-y-1">
    <p class="ff-text ff-text--heavy">Checking this feed...</p>
    <p class="ff-text">This usually takes a few seconds.</p>
  </div>
<% end %>
