<% content_for :title, "Edit Feed" %>

<div class="space-y-8">
  <%= render PageHeaderComponent.new(title: "Edit Feed") %>

  <div class="max-w-3xl mx-auto">
    <%= render "form_expanded", feed: @feed, edit_mode: true %>
  </div>
</div>
