<p>Hi,</p>

<p>Someone requested a password reset for your account. If that was you, click the link below to set a new password:</p>

<p><%= link_to "Reset your password", edit_password_url(@user.password_reset_token) %></p>

<p>This link will expire in <%= distance_of_time_in_words(User::PASSWORD_RESET_TTL) %> for security reasons.</p>

<p>If you didn't request this, you can safely ignore this email. Your password won't change.</p>

<p>
  <strong>Feeder</strong><br>
  <%= link_to root_url, root_url %>
</p>
