<% content_for :title, "Check Your Email" %>
<% content_for :body_class, "sm:bg-slate-100" %>

<div class="mx-auto w-full max-w-full space-y-6 px-4 sm:max-w-2xl sm:px-0">
  <div class="ff-card">
    <div class="ff-card__body space-y-6">
      <div class="space-y-3">
        <h1 class="ff-card__title">Check your email</h1>
        <p class="ff-text">We've sent you a confirmation email. Click the link to activate your account.</p>
      </div>
    </div>
  </div>
</div>
