<% content_for :title, "Check Your Email" %>

<%= render CardComponent.new(frameless_on_mobile: true) do %>
  <div class="space-y-6">
    <div class="space-y-3">
      <h1 class="text-4xl font-semibold mb-6 text-heading">Check your email</h1>
      <p class="text-body">We've sent you a confirmation email. Click the link to activate your account.</p>
    </div>
  </div>
<% end %>
