<%= tag.details(**container_options) do %>
  <summary class="flex cursor-pointer select-none items-center justify-between gap-3 py-5 font-medium text-slate-600 transition group-open:text-slate-900 marker:content-none [&::-webkit-details-marker]:hidden">
    <span><%= @title %></span>
    <%= helpers.icon("chevron-down", css_class: "size-5 text-slate-400 transition group-open:rotate-180") %>
  </summary>
  <div class="border-t border-slate-200 py-5">
    <%= content %>
  </div>
<% end %>
