<%= render ModalComponent.new(title: @title, modal_id: @modal_id) do |modal| %>
  <%= content %>

  <% modal.with_footer do %>
    <%= button_to @action,
                  @url,
                  method: @method,
                  class: "ff-button ff-button--danger ff-button--compact",
                  data: { action: "confirmation-modal#confirm" } %>
    <button type="button"
            class="ff-button ff-button--secondary ff-button--compact"
            data-action="confirmation-modal#close">Cancel</button>
  <% end %>
<% end %>
