<div class="space-y-4" data-key="post.comments">
  <% comments.each do |comment| %>
    <div class="overflow-hidden rounded-lg border border-border bg-surface p-4 text-slate-900"><%= simple_format(comment) %></div>
  <% end %>
</div>
