<div class="overflow-hidden rounded-lg border border-slate-200 bg-white p-4" data-key="post.attachments">
  <div class="flex flex-wrap gap-3">
    <% attachment_urls.each do |url| %>
      <%= link_to url, target: "_blank", rel: "noopener",
            class: "font-medium text-sky-600 underline underline-offset-4 transition hover:text-sky-500 inline-flex items-center" do %>
        <%= helpers.icon("file-image", css_class: "size-4") %>
        <span class="sr-only"><%= extract_filename(url) %></span>
      <% end %>
    <% end %>
  </div>
</div>
