<div class="row justify-content-center">
  <div class="col-12 mx-auto" style="max-width: 28rem">
    <h1 class="text-center mb-4"><%= @title %></h1>

    <% if notice %>
      <%= notice %>
    <% end %>

    <%= content %>

    <% if footer %>
      <div class="text-center mt-3">
        <%= footer %>
      </div>
    <% end %>
  </div>
</div>
