<% content_for :skip_navigation, true %>
<% content_for :body_class, "bg-light" %>

<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card shadow-sm">
      <div class="card-body p-5">
        <% content_for :title, "Connect Your FreeFeed Account" %>

        <h1 class="card-title mb-4">Connect Your FreeFeed Account</h1>

        <p class="mb-4">
          Enter your FreeFeed API token to get started. This allows Feeder to post content to your groups.
        </p>

        <div id="token-form-container">
          <%= render "form", host: @host, token: @token, validation_error: nil %>
        </div>
      </div>
    </div>
  </div>
</div>
