<% content_for :skip_navigation, true %>
<% content_for :body_class, "bg-light" %>

<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card shadow-sm">
      <div class="card-body p-5">
        <% if @onboarding.token_setup? %>
          <%= render "steps/intro" %>
        <% elsif @onboarding.feed_setup? %>
          <%= render "steps/feed" %>
        <% else %>
          <%= render "steps/outro" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
