<% content_for :title, "Edit Access Token" %>

<div class="space-y-8">
  <%= render PageHeaderComponent.new(title: "Edit Access Token") %>

  <%= render CardComponent.new do %>
    <div class="space-y-6">
      <p class="text-slate-600">Access token editing form coming soon...</p>
    </div>
  <% end %>
</div>
