<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="mb-0">Create New Token</h1>
  <%= link_to "â† Back to Access Tokens", access_tokens_path, class: "btn btn-outline-secondary" %>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <%= render "form", 
                   access_token: @access_token,
                   token_label: "Freefeed Access Token",
                   token_placeholder: "Paste your Freefeed access token here",
                   token_value: @access_token.token,
                   submit_text: "Create Token" %>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-body">
        <div class="text-muted">
          <h6>About Freefeed Tokens</h6>
          <ul class="mb-0">
            <li>Use tokens from your Freefeed account</li>
            <li>Maximum of 20 tokens per user</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
