<%= turbo_stream.replace "group-select-wrapper" do %>
  <div id="group-select-wrapper">
    <select name="feed[target_group]" id="feed_target_group" class="form-select">
      <option value="">Choose target group...</option>
      <% managed_groups.each do |group| %>
        <option value="<%= group[:username] %>">
          <%= group[:screen_name].present? ? "#{group[:screen_name]} (#{group[:username]})" : group[:username] %>
          <%= "🔒" if group[:is_private] %>
        </option>
      <% end %>
    </select>
    <div class="form-text">Select the Freefeed group where posts will be published</div>
    <div class="invalid-feedback">Please select a target group.</div>
  </div>
<% end %>