<%= turbo_stream.replace "groups-select" do %>
  <div id="groups-select">
    <select name="feed[target_group]"
            id="feed_target_group"
            class="form-select"
            data-groups-target="select">
      <option value="">Choose target group...</option>
      <% @managed_groups.each do |group| %>
        <% display_name = group[:screen_name].present? ? "#{group[:screen_name]} (#{group[:username]})" : group[:username] %>
        <% display_name += " 🔒" if group[:is_private] %>
        <option value="<%= group[:username] %>"><%= display_name %></option>
      <% end %>
    </select>
    <div class="form-text" data-groups-target="helpText">
      Select the Freefeed group where posts will be published
    </div>
    <div class="invalid-feedback">Please select a target group.</div>
  </div>
<% end %>
