<p>Hi,</p>

<p>Thanks for signing up! Click the link below to confirm your email and activate your account:</p>

<p><%= link_to "Confirm your email", @confirmation_url %></p>

<p>This link will expire in <%= distance_of_time_in_words(User::EMAIL_CONFIRMATION_TTL) %> for security reasons.</p>

<p>Your email will be used for password recovery and optional notifications. No newsletters or marketing nonsense. You can change it anytime in your account settings.</p>

<p>If you didn't create this account, you can safely ignore this email.</p>

<p>
  <strong>Feeder</strong><br>
  <%= link_to root_url, root_url %>
</p>
