<p>Hi,</p>

<p>You requested to change your email address to <strong><%= @new_email %></strong>. Click the link below to confirm:</p>

<p><%= link_to "Confirm new email", @confirmation_url %></p>

<p>This link will expire in <%= distance_of_time_in_words(Time.current, User::EMAIL_CONFIRMATION_TTL.from_now) %> for security reasons.</p>

<p>If you didn't request this change, you can safely ignore this email. Your email address won't change.</p>

<p>
  <strong>Feeder</strong><br>
  <%= link_to root_url, root_url %>
</p>
