<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Edit Token</h1>
  <%= link_to "â† Back to Access Tokens", settings_access_tokens_path, class: "btn btn-outline-secondary" %>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="alert alert-warning">
      There are N feed using this token.
      List feed names
      Make sure the new token have access to each group on this list. Otherwise feeds will remain inactive.
    </div>

    <%= render "form",
               access_token: @access_token,
               token_label: "New Freefeed Access Token",
               token_placeholder: "Leave empty to keep current token",
               token_value: "",
               submit_text: "Update Token" %>
  </div>
</div>
