<% content_for :title, "Edit Token" %>

<div class="space-y-8">
  <%= render PageHeaderComponent.new(title: "Edit Token") do |header| %>
    <% header.with_action_button do %>
      <%= link_to "Back to Access Tokens", settings_access_tokens_path, class: class_names("ff-button", "ff-button--secondary", "ff-button--compact") %>
    <% end %>
  <% end %>

  <div class="max-w-3xl space-y-6">
    <div class="ff-alert ff-alert--warning">
      Make sure the updated token has access to every group used by your feeds. Otherwise those feeds will remain inactive.
    </div>

    <%= render "form",
               access_token: @access_token,
               token_label: "New FreeFeed Access Token",
               token_placeholder: "Leave empty to keep current token",
               token_value: "",
               submit_text: "Update Token" %>
  </div>
</div>
