<% content_for :title, "New Access Token" %>

<div class="space-y-8">
  <%= render PageHeaderComponent.new(title: "New Access Token") %>

  <div class="ff-card">
    <div class="ff-card__body">
      <p class="ff-text">Access token creation form coming soon...</p>
    </div>
  </div>
</div>
