<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Create New Token</h1>
  <%= link_to "â† Back to Access Tokens", settings_access_tokens_path, class: "btn btn-outline-secondary" %>
</div>

<div class="row">
  <div class="col-lg-6">
    <%= render "form",
               access_token: @access_token,
               token_label: "FreeFeed Access Token",
               token_placeholder: "Paste your FreeFeed access token here",
               token_value: @access_token.token,
               submit_text: "Create Token" %>
  </div>
</div>
