<% content_for :title, "Create New Token" %>

<div class="space-y-8">
  <%= render PageHeaderComponent.new(title: "Create New Token") do |header| %>
    <% header.with_action_button do %>
      <%= link_to "Back to Access Tokens", settings_access_tokens_path, class: class_names("ff-button", "ff-button--secondary", "ff-button--compact") %>
    <% end %>
  <% end %>

  <div class="max-w-3xl">
    <%= render "form",
               access_token: @access_token,
               token_label: "FreeFeed Access Token",
               token_placeholder: "Paste your FreeFeed access token here",
               token_value: @access_token.token,
               submit_text: "Create Token" %>
  </div>
</div>
