<%# locals: (error:) %>
<div id="groups-select">
  <select name="feed[target_group]" id="feed_target_group" class="form-select" disabled>
    <option value="">Error loading groups</option>
  </select>
  <div class="form-text text-danger">Failed to load groups: <%= error %></div>
  <div class="invalid-feedback">Select a target group.</div>
</div>
