<%= turbo_stream.replace dom_id(@post) do %>
  <%= render "shared/post_row", post: @post %>
<% end %>

<%= turbo_stream.prepend "flash-messages" do %>
  <div class="ff-alert ff-alert--info" role="alert">
    <span>The post will be withdrawn from FreeFeed but will remain here to prevent it from being imported again.</span>
  </div>
<% end %>
