<%= turbo_stream.replace dom_id(@post) do %>
  <%= render PostsListComponent.item_component(post: @post, helpers: self, show_feed: true) %>
<% end %>

<%= turbo_stream.prepend "flash-messages" do %>
  <div class="rounded-lg border border-sky-100 bg-sky-100 px-4 py-3 text-sky-800" role="alert">
    <span>The post will be withdrawn from FreeFeed but will remain here to prevent it from being imported again.</span>
  </div>
<% end %>
