<%# locals: (feed_preview:) %>
<%= render CardComponent.new(
      class: "flex items-center gap-3",
      role: "status",
      data: {
        controller: "polling",
        polling_endpoint_value: feed_preview_path(feed_preview, format: :turbo_stream),
        polling_stop_condition_value: "[data-feed-preview-spinner]",
        feed_preview_spinner: true
      }
    ) do %>
  <div class="flex-shrink-0">
    <%= render SpinnerComponent.new %>
  </div>
  <div class="space-y-1">
    <p class="ff-text ff-text--heavy">Generating preview...</p>
    <p class="ff-text">This usually takes a few seconds while we fetch and format this feed.</p>
  </div>
<% end %>
