<%= turbo_stream.replace "search_credentials_list" do %>
  <div id="search_credentials_list">
    <% if @search_credentials.any? %>
      <%= render SearchCredentialsListComponent.new(credentials: @search_credentials) %>
    <% else %>
      <%= render EmptyStateComponent.new("No search credentials yet") %>
    <% end %>
  </div>
<% end %>

<%= turbo_stream.replace "flash-messages", partial: "layouts/flash" %>
