<span id="available-invites-input-wrapper-<%= user.id %>">
  <%= number_field(:user, :available_invites, value: user.available_invites, min: 0, class: "w-full rounded-md border border-border-strong bg-surface px-3 py-2 text-lg leading-normal shadow-xs ring-ring transition focus:border-ring focus:outline-none focus:ring-2") %>
</span>
