<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/head" %>
  </head>
  <body class="min-h-screen bg-white text-slate-900 sm:bg-slate-100">
    <%= render "layouts/flash" %>

    <main class="mx-auto w-full max-w-2xl px-4 py-12 sm:px-0" data-controller="autofocus">
      <%= yield %>
    </main>
  </body>
</html>
